<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
  </head>
  <body class="p-4 text-primary">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select Month</label>
          <select input type="text" class="form-control" id="exampleFormControlSelect1" name="month">
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select Year</label>
            <select input type="text" class="form-control" id="exampleFormControlSelect1" name="year">
              <option>2020</option>
            </select>
          </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Income details</label>
            <input input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Give details" name="income">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Expenditure details</label>
            <input input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Give details" name="expenditure">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Amount</label>
            <input input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Amount" name="amount">
          </div>
          <br><input type="submit" value="Save and continue"></br><br>
          {% for message in messages%}
          <h4> {{message}}</h4>
          {% endfor%}
          <button class="btn"><i class="fa fa-download"></i> <a href="http://127.0.0.1:8000/pdf/" > Get PDF</a></button>
     
        </form>


</body>
</html>